Source: uv
Section: utils
Priority: optional
Maintainer: Dario Griffo <dariogriffo@gmail.com>
Build-Depends: debhelper-compat (= 13), wget, ca-certificates
Standards-Version: 4.6.2
Homepage: https://github.com/astral-sh/uv
Rules-Requires-Root: no

Package: uv
Architecture: amd64 arm64 armel armhf ppc64el s390x riscv64 i386
Depends: ${misc:Depends}
Description: An extremely fast Python package and project manager, written in Rust
 uv is an extremely fast Python package installer and resolver, written in Rust,
 and designed as a drop-in replacement for pip and pip-tools workflows.
